<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
</head>
<body>
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia architecto error similique eum, consequatur sed, accusamus porro laborum praesentium delectus, inventore quidem aliquam at commodi. Est eligendi quas aut corrupti.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia architecto error similique eum, consequatur sed, accusamus porro laborum praesentium delectus, inventore quidem aliquam at commodi. Est eligendi quas aut corrupti.</p>
</body>
</html>